<!DOCTYPE html>
<html>
  <head>
    <title>RailsService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% puts key %> 
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
